---
name: wc-test
on: workflow_call
jobs:
  test:
    uses: suzuki-shunsuke/go-test-full-workflow/.github/workflows/test.yaml@596bc52a7f02dd896d3351e61e4dfa661c1f3304 # v5.0.1
    with:
      aqua_version: v2.56.3
      golangci-lint-timeout: 120s
    permissions:
      pull-requests: write
      contents: read

  integration-test:
    timeout-minutes: 20
    runs-on: ubuntu-24.04
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.3
      - run: go install ./cmd/tfmv
      - run: tfmv --version
      - run: tfmv --help

      - run: bash test/test.sh
